@use 'hero';
@use 'variaveis';
@use 'shows';
@use 'plans';
@use 'watch-anywhere';
@use 'available-devices';
@use 'faq';
@use 'footer';

@font-face {
    font-family: Avenir;
    src: url(../../fonts/Avenir-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: Avenir;
    src: url(../../fonts/Avenir-Regular.woff2);
    font-weight: 700;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Avenir, sans-serif;
    list-style: none;
}

body{
    background-color: variaveis.$corDeFundo;
}

@mixin text($fontSize : 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$corTextoPrincipal;
}

@mixin tittle($fontSize: 40px){
    @include text($fontSize);

    color: variaveis.$corTextoSecundario;
}

.text--big {
    @include text(18px);
}

.text {
    @include text;
}

.text--small {
    @include text(12px);
}

.tittle--big{
    @include tittle(44px);
    font-weight: bold;
}

.tittle{
    @include tittle;
    font-weight: bold;
}

.tittle--small{
    @include tittle(28px);
}

.link-text{
    @include text(18px);
    color: variaveis.$corTextoSecundario;
    text-decoration: underline;
}

.image-text-section{
    padding: 5.6vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    display: block;
    position: relative;

    img{
        width: 100%;
    }

    &__text-container{
        position: absolute;
        top: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        left: 50%;
        width: calc(50% - 5.6vw);
    }
}